<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>

  <log4net>
    <appender name="MainAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\DIPS-Log\DIPS-AppoinmentSMS-ConfigurationClient-Main.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value=".yyMMdd.'log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyyMMdd HH:mm:ss,fff};%level;%property{applicationid};%property{sessionid};%property{profilingCallId};%thread;%logger;%message%newline" />   </layout>
    </appender>

    <appender name="ProfilingAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\DIPS-Log\DIPS-AppoinmentSMS-ConfigurationClient-Profiling.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value=".yyMMdd.'log'" />
      <MaximumFileSize value="500MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>

    <root>
      <level value="info"/>
      <appender-ref ref="MainAppender"/>
    </root>

    <logger name="Profiling" additivity="false" >
      <level value="trace"/>
      <appender-ref ref="ProfilingAppender" />
    </logger>
    <logger name="DIPS.Configuration">
      <level value="TRACE" />
    </logger>
    <logger name="DIPS.AptSMS">
      <level value="TRACE" />
    </logger>
  </log4net>

</configuration>
